.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.answer-question {
  text-align: center;
  transition: color 0.5s ease, transform 0.2s ease-in-out;
}

.answer-separator {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.answer-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.answer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 10vw;
  min-width: 4vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.answer-button:hover {
  background-color: #0056b3;
}

.selected {
  background-color: #00cc00 !important;
  color: #ffffff !important;
}

.correct {
  background-color: #00cc00;
  color: #ffffff;
}

.wrong {
  background-color: #ff0000;
  color: #ffffff;
}




:host {
  display: block;
  max-width: 40vw;
  min-width: 20vw;
  /* Altri stili per il tuo componente */
}
