<!--<div class="question-container">
  <div class="question-text">Quando è iniziata la seconda guerra mondiale?</div>
  <button class="try-button" (click)="openModal()">Try</button>
  <p-splitButton label="Try"  icon="pi pi-question-circle" (onClick)="save('info')" [model]="items" styleClass="p-button-raised mr-2 mb-2"></p-splitButton>
</div>
-->
<div class="question-list">
  <div class="question-container" *ngFor="let question of questions">
    <div class="question-text">{{ question.text }}</div>
    <p-splitButton label="Try"  icon="pi pi-question-circle" (click)="openDialog(question)" [model]="items" styleClass="p-button-raised mr-2 mb-2"></p-splitButton>
  </div>
</div>

<button class="fixed-button">
  <i class="pi pi-plus centered-icon"></i>
</button>

