<div class="header">
  <h1>Home Page</h1>
</div>

<div class="question-set-container">
  <div class="question-set-card">
    <p-card [header]="questionSet.setName" [subheader]="questionSet.description" [style]="{ width: '360px' }" *ngFor="let questionSet of qsList">
      
      <ng-template pTemplate="footer">
          <p-button label="View" ></p-button>
          <p-button label="Delete" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
  </p-card>
  <p-card [style]="{ width: '360px' }" >
    <i class="pi pi-plus" style="font-size: 2.5rem"></i>
    <ng-template pTemplate="footer">
        
    </ng-template>
</p-card>
  </div>

 
  
</div>
