.question-set-card {
    display: flex;
    flex-direction: row; /* I contenuti saranno disposti verticalmente */
    align-items: center; /* Centra i contenuti lungo l'asse orizzontale (asse X) */
    justify-content: center; /* Centra i contenuti lungo l'asse verticale (asse Y) */
  }

.question-set-card p-card{
    margin: 10px;
}


.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Classe per definire lo stile della carta quando è l'ultima */
.last-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ui-dialog-content {
  max-height: 80vh !important;
  overflow: auto !important;
}

.form-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Personalizza il colore del pulsante "Conferma" */

/* Personalizza il colore del pulsante "Annulla" */
.ui-dialog .p-button-secondary {
  background-color: #e74c3c;
  color: #fff;
}

.navbar {
  background-color: #a0c4ff; /* Colore blu chiaro */
  color: #fff; /* Colore del testo bianco per il contrasto */
}